[2019-06-13 04:02] fishextinction opened #2 "Segfault"
I'm attempting to use Bifrost and getting errors or incomplete results. I didn't see an example dataset included with the package, so I'll use the 'prasinoviruses' small dataset included in the new SANS package, which is 13 200kb fasta files

If I run Bifrost with default parameters to output a colored graph:
`Bifrost build -r list.txt -o pra -v -c`

I get a segfault after:

If I run a large kmer

[2019-06-13 09:38] GuillaumeHolley commented on #2
Hi there.

Thank you for opening this issue. I don't have access to a computer right now but I will tonight. Fortunately, the output seems to be quite small so I should know what's going on quickly enough. I will let you know what I find out.

Guillaume

[2019-06-13 21:43] GuillaumeHolley commented on #2
So I ran Bifrost on my computer with the command lines you gave me and the output is just fine. To be sure it works, I ran it as well with Valgrind in debug mode to check for memory leaks and wrong memory access: everything is all right. Then, to be extra sure it works, a colleague of mine ran Bifrost on the same dataset but a different computer and it also works just fine.

From there, I am not s

[2019-06-21 13:18] GuillaumeHolley commented on #2
I am closing the issue for now. Feel free to reopen a new one if you still have problems.

[2019-06-21 13:18] #2 closed

[2019-12-05 00:29] XiangLiKyle opened #3 "How can I read the output color file .bfg_colors?"

[2019-12-05 09:49] GuillaumeHolley commented on #3
Hi,

The output color file with extension .bfg_colors is a binary file format which is intended to be used only by Bifrost at the moment (to save your colors on disk and load them again).
If you want to know the colors associated with your k-mers/unitigs, the only option there is at the moment is to use the C++ API to load your graph + colors, iterate over the unitigs of the graph, then iterate ov

[2019-12-05 13:08] ekg commented on #3
I've found that pybind11 is a good way to add a python interface to a C++
API. This might help users who want to work with this file type.

On Thu, Dec 5, 2019 at 10:49 AM Guillaume Holley <notifications@github.com>
wrote:

[2019-12-05 13:26] GuillaumeHolley commented on #3
Hi,

We actually started a Python API using pybind11 some time ago but there is still a lot of work to do on it. I will update the README when it is ready but since we don't have a release date in mind, I wouldn't expect it anytime soon.

[2019-12-05 23:22] Colelyman opened #4 "Intuition behind choosing minimizer length"
Thanks @GuillaumeHolley and @pmelsted for such an excellent application! I have been using it for the past couple months and it has worked very well.

I just wanted to reach out to hear your thoughts on how the minimizer length, `m`, affects performance. I understand that by definition `m < k` and with a very small `m` you will have lots of "collisions" (not sure if that is the right term here) an

[2019-12-06 13:44] GuillaumeHolley commented on #3
I will close this issue as I think the question is answered. Feel free to open another one if you have another question.

[2019-12-06 13:44] #3 closed

[2019-12-06 14:13] GuillaumeHolley commented on #4
Hi Cole,

Glad to hear you like Bifrost :)

It is a very good question and you are making the right assumptions here. As you already know, choosing the length of minimizers (g) is a trade-off between running time and memory. As you said, having very short g-mers results in a low memory usage but longer running times as you get fewer minimizers to store and index but they occur more often in unitig

[2019-12-06 15:06] Colelyman commented on #4
That is helpful! Thank you

[2019-12-06 15:06] #4 closed

[2020-01-06 23:17] XiangLiKyle opened #5 "A compile error while using the C++ API"
I tried to use the function searchSequence in CompactedDBG, and there was error showed:

       include/bifrost/CompactedDBG.tcc:5593:62: error: passing ‘const CompactedDBG<DataAccessor<MyBool>, DataStorage<MyBool> >’ as ‘this’ argument discards qualifiers [-fpermissive]

       const UnitigMap<U, G> um = findUnitig(seqs.c_str(), pos_seq, seqs.length(), mhi);

And I found that searchSequence is a

[2020-01-08 22:14] GuillaumeHolley commented on #5
Good catch! I'm actually going to propose findUnitig() and searchSequence() in const and non-const member functions to be able to work with both ;)
As I have some new code for searchSequence() (should be slightly faster than the current one), I will also update that at the same time. Should be ready for tomorrow evening but in the meantime, I keep this issue open.

Thanks!

[2020-01-09 21:04] GuillaumeHolley commented on #5
findUnitig() and searchSequence() are now available as const and non-const member functions.

[2020-01-09 21:04] #5 closed

[2020-01-10 19:20] XiangLiKyle commented on #5
Thank you!

[2020-01-21 06:22] XiangLiKyle opened #6 "The result unitig of findunitig of compactedDBG doesn't contain the kmer sometimes"
I check whether string from referenceUnitigToString() contains the kmer used to findUnitig and many of them are false.

[2020-01-21 09:53] GuillaumeHolley commented on #6
I find it quite surprising and unlikely that CompactedDBG::findUnitig() returns false positives. It is a method a use quite extensively during the graph construction and the graphs I obtained so far are correct. I am also using it another project using Bifrost and I didn't notice any false positives in my results. On the other hand, no code is ever mistake-free so I cannot discard the possibility

[2020-01-21 18:03] XiangLiKyle commented on #6
I believe it is because of the reverse-complement, thank you very much for your patience, I am sorry for my negligence.

[2020-01-21 18:12] GuillaumeHolley commented on #6
No worries ;) I am closing the issue.

[2020-01-21 18:12] #6 closed

[2020-01-27 13:27] rpetit3 opened #7 "Plans to submit to Bioconda?"
Hello!

Do you have plans to submit Bifrost to Bioconda? I could help out, but in order to do so a more recent release would need to be created.

Thanks!

[2020-01-27 19:55] GuillaumeHolley commented on #7
Hi!

Yes, we definitely have plans to submit Bifrost to Bioconda. We've been postponing it for quite some time but I think that now you're are asking, it is time :) I am planning to push a rather big update of Bifrost next week and I think it should be the version available on Bioconda. So as soon as it is online, I tag a release and prepare the Bioconda submission, what do you think?

I will keep

[2020-01-31 04:28] tseemann opened #8 "Release 0.1.tgz has no CMake files?"
Unable to build from release tarball because missing cmake data as per install instructions.

Seems the README in the tgz says to just use `make` ?

[2020-01-31 09:34] GuillaumeHolley commented on #8
I'm a little bit confused here. I didn't tag any release 0.1. Did you get that tarball from this repo or from somewhere else?

[2020-01-31 09:53] GuillaumeHolley commented on #8
My bad, there was indeed a release 0.1 dating from 7 years ago, back in the days where Bifrost had a different name and was a different idea. I just removed that release tarball but I am planning a release next week for a bioconda package.

[2020-01-31 09:53] #8 closed

[2020-02-03 22:08] marade opened #9 "Bifrost update does not work, complains about the number of threads"
$ Bifrost update -t 4 -o newgraph -r mygenome.fa -g mygraph.gfa
KmerStream::KmerStream(): Number of threads cannot be less than or equal to 0

$ Bifrost update -o newgraph -r mygenome.fa -g mygraph.gfa
KmerStream::KmerStream(): Number of threads cannot be less than or equal to 0

[2020-02-03 22:38] GuillaumeHolley commented on #9
Sorry for the inconvenience. I just pushed a new release, could you try it out and let me know if it works?

[2020-02-03 22:50] marade commented on #9
Yes, the issue appears to be solved. Thanks for the rapid response.

[2020-02-03 22:54] GuillaumeHolley commented on #4
Hi Cole,

Just to let you know that I have pushed a new version of Bifrost that automatically uses g=k-8 for large enough k-mers (k>=15). You can play around that value (max. +/- 4) if you want to favor memory over running time or the other way around.

[2020-02-03 22:55] GuillaumeHolley commented on #9
You're welcome. Don't hesitate to let me know if you encounter other issues.

[2020-02-03 22:55] #9 closed

[2020-02-03 23:03] GuillaumeHolley commented on #9
You might want to re-clone & re-install Bifrost, sorry about that. I forgot to set back the default k-mer size for compilation in the CMake file. It means that the version you have will likely use more memory than needed (although the results will be the same). The new release has the right k-mer size set by default.

[2020-02-03 23:06] marade commented on #9
Okay, thanks for letting me know.

[2020-02-09 09:38] winni2k commented on #7
It would be great to see a bioconda relase! Conda packaging can be a nightmare, so I'd be happy to help as well.

[2020-02-09 18:28] winni2k opened #10 "Python interface to Bifrost"
Hi,
I would like to add Bifrost as a CDBG storage format/engine for [`cortexpy`](https://github.com/winni2k/cortexpy). I will need a cpython interface for that. I see in https://github.com/pmelsted/bifrost/issues/3#issuecomment-562127927 that there might already be some work done on such an interface. Any chance I could get access to that work to avoid reinventing the wheel?

I would, of course, c

[2020-02-11 14:02] GuillaumeHolley commented on #10
Hi there,

Sorry for the delay. This sounds like a really nice project :) I can give you access to what has been done so far for our Python interface (using pybind11). Full warning: the python code hasn't changed for the past 18 months while the C++ code of Bifrost has changed quite a bit since then. Let me know if you still want to have a look. Thanks for your interest!

Best,
Guillaume

[2020-02-11 14:05] GuillaumeHolley commented on #7
Thanks for the offer, I will definitely contact you if I run into some issues with the Conda packaging. Unfortunately, I will have to delay the release of the next Bifrost update, and hence its conda release, till the end of February to make space for some more testing.

[2020-02-11 16:12] winni2k commented on #10
That would be great! Do you have a repo or branch that I could pull?

I expect that my progress will be slow as I will be working on this part time, but perhaps I can push things along a bit.

[2020-02-15 11:07] GuillaumeHolley commented on #10
Sorry again it took so long, I am myself working part time on this and I have been crazy busy those days. Anyway, I just send you an invite to contribute to `pybifrost`. For any questions or suggestions, you can contact me privately or maybe open an issue on the corresponding repo ;)

I am closing this issue.

Best,
Guillaume

[2020-02-15 11:07] #10 closed

[2020-02-18 18:31] lrvdijk commented on #10
Hi @GuillaumeHolley and @winni2k,

I'd be interested in the Python interface too, and we also have some resources the coming year to contribute to the project. Let me know how I can help!

[2020-02-19 18:27] Roger-BP opened #12 "Wrong GFA header error"
Hi,

I've just recently discovered Bifrost and it sounds like a great tool for fast homology search as evidenced by the paper presenting BlastFrost. I'd love to start using both, however, I'm running into an issue when trying to build a Bifrost graph from several assembly graphs.

This is the exact command that I'm using:
./Bifrost build -c -v -r ${DATADIR}/isolate_graph_list.txt -o ${OUTDIR}/Bifr

[2020-02-19 18:43] GuillaumeHolley commented on #12
Hi :)

Thank you for using Bifrost. As you have mentioned and as Bifrost tells you in its output, your GFA files are missing the header line. My understanding of the [GFA specification](http://gfa-spec.github.io/GFA-spec/GFA1.html) is that the header line is mandatory so Bifrost expects to read one. Unless my interpretation is wrong, GFA files produced by SPAdes or the Shovill pipeline are then no

[2020-02-20 17:40] Roger-BP commented on #12
Hi Guillaume,

Thanks for the quick response. I've tried that, but for some reason I get a segmentation error:

KmerStream::KmerStream(): Start computing k-mer cardinality estimations
./build_bifrost_gfa.sh: line 34: 16747 Segmentation fault      (core dumped) ./Bifrost build -t 1 -k 31 -c -v -r ${DATADIR}/isolate_graph_list.txt -o ${OUTDIR}/Bifrost_graph1

I don't know where that comes from. Any

[2020-02-20 18:19] GuillaumeHolley commented on #12
Hi Roger,

Unfortunately, I don't know what is going on here. My wild guess is that Bifrost does not like how your GFA files are formed and hence, crashes while trying to read them.
If you would be willing to share your input files, I could try it myself and debug what is the problem. If those are not too big, you can share them here. If they are too big or privacy is an issue, you can also send m

[2020-02-21 16:52] ar0ch opened #13 "File checks could be improved"
First off, awesome idea and project.  The Bifrost and BlastFrost papers popped up right when I was in need of this exact functionality.

The file checks in [KmerStream.hpp](https://github.com/pmelsted/bifrost/blob/4995a444d2b4e2962abf88381ada2c5f79c0cb09/src/KmerStream.hpp#L796-L826) and [CompactedDBG.tcc](https://github.com/pmelsted/bifrost/blob/4995a444d2b4e2962abf88381ada2c5f79c0cb09/src/Compac

[2020-02-21 18:42] GuillaumeHolley commented on #13
Hi there,

Thanks for using Bifrost. I totally agree with you that this suffix checking of the input filenames is bad and definitely not sustainable. It was implemented this way to have something in place quickly but we have been planning for a long time now to do some auto-detection of the input file formats. I am planning a new release of Bifrost for next week and I will include this feature in

[2020-02-21 18:46] winni2k commented on #13
Perhaps the [kseq.h](https://github.com/lh3/seqtk/blob/master/kseq.h) header from Heng Li's seqtk might be of use here?

[2020-02-21 18:46] GuillaumeHolley commented on #10
Hi @lrvdijk

I just sent you an invite to our repo ;) All contributions are welcome. Thanks.

Guillaume

[2020-02-21 19:21] ar0ch commented on #13
@GuillaumeHolley  Awesome! 😄  Looking forward to see how this project grows and matures.

[2020-02-21 22:12] Roger-BP commented on #12
Hi Guillaume, :)

I've tried with other assemblers (Velvet and Unicycler) and I'm still encountering the same error. I'm starting to think that something must be wrong with my installation even though I don't recall getting any errors/warnings when compiling.

I've uploaded 2 assembly graphs here in case you want to check them:
https://drive.google.com/open?id=1ttnVZpW9aVLOoMP-PQRylH3A4amRG4MM

Th

[2020-02-22 10:47] GuillaumeHolley commented on #12
Hi Roger,

Thanks for sharing your data, I just downloaded them and I will get on it asap. I don't think your installation has an issue though, its more likely something in the GFA that Bifrost does not handle well.

Guillaume

[2020-02-25 22:20] GuillaumeHolley commented on #12
Hi Roger,

Thank you for your patience. I have pushed a new version of Bifrost which hopefully solves your issues. Let me know how it goes.

Guillaume

[2020-02-27 16:28] #12 closed

[2020-03-01 20:26] tseemann opened #14 "Add --version flag"
[code]

Thanks - will make conda and brew recipes more robust

[2020-03-01 20:28] tseemann commented on #14
Docs say the regular help will show version
[code]
But my output is blank (from 1.0 .tgz)

[2020-03-01 20:40] tseemann opened #15 "bifrost 1.0 now in homebrew"
[code]

[2020-03-02 12:01] Roger-BP commented on #12
I've tried with the new version and it worked.

Thanks, Guillaume! :)

[2020-03-02 19:06] GuillaumeHolley commented on #15
Nice, thank you @tseemann !
I will update the README right now.

[2020-03-02 19:06] #15 closed

[2020-03-04 12:43] mr-eyes opened #16 "How to get the unitig/node ID from the query?"
Hi,

In the `query` mode. I'm wondering if it's possible to get the `unitig_id` or the `node_id` from the GFA file?

**For example**
If I performed a query by the kmer `GCTCACCGCGCGGTTTT` on the following GFA can I get the `S:10` information from the query? If there's no direct way to get this, I can modify the source code after getting a hint from you.

[code]

I'll be really glad if this could b

[2020-03-04 13:07] GuillaumeHolley commented on #16
Hi @mr-eyes,

Thank you for using Bifrost. The simple answer is no, the query subcommand only returns presence/absence for each query. Returning the Sequence ID from the GFA file could be possible but it would create a very large and messy output file.

**However**, you can absolutely do this, rather easily, with the API. What you are interested in is the function `bool CompactedDBG<U, G>::search(

[2020-03-04 18:44] mr-eyes commented on #16
Thanks, @GuillaumeHolley for your detailed reply.
I will try out your proposed solution shortly and I will keep you updated here.

Another question could solve the issue if it's less difficult.
In the colored cDBG, is it possible to change the kmers colors from being the **"reference file name"** to **"the Fasta header"**? So I can easily parse the output TSV.

[2020-03-04 20:05] GuillaumeHolley commented on #16
Unfortunately, I have to answer by the negative once again: colors systematically represent the input files. I believe this is a good suggestion of feature though and I will add it on my list of improvements. I cannot guarantee when this feature will be out but it is on the list :)
On the other hand, you can "trick" Bifrost by splitting your input contigs/chromosomes (I assume here that your input

[2020-03-06 11:01] GuillaumeHolley commented on #16
I'm closing the issue, let me know if you have more questions.

[2020-03-06 11:01] #16 closed

[2020-03-06 12:42] mr-eyes commented on #16
Thanks @GuillaumeHolley for your prompt and detailed reply.

Yes, you guessed right. The trick came to my mind but I'm not sure about the efficiency of the I/O reading/writing thousands of files, it's a bit huge experiment.
It'd be really great if this could be added as a feature and I will certainly be happy contributing to its development.

Thank you,

[2020-03-07 23:49] GuillaumeHolley commented on #7
So as it turns out, making a Conda package is really a nightmare. My extremely simple recipe fails because Cmake cannot pass one of his checks. I've been digging the problem a lot and if I am not wrong, there is nothing I can do because it is an issue with Conda itself. I have opened an issue with them [(here)](https://github.com/conda/conda/issues/9741) if you want to have a look. I would appreci

[2020-03-23 23:54] lrvdijk commented on #10
Hi all (@GuillaumeHolley @winni2k),

I've started a new repository where I'm working on a Python interface with a NetworkX compatible API. It's in its very early stages, but some basic iteration and traversal functions are working.

https://github.com/broadinstitute/pyfrost

[2020-03-24 08:52] winni2k commented on #10
That's amazing! I'll have a look @lrvdijk

[2020-03-24 15:24] lrvdijk opened #17 "Unnecessary modification of data in neighborIterator?"
In NeighborIterator.tcc, here: https://github.com/pmelsted/bifrost/blob/master/src/NeighborIterator.tcc#L37
the `UnitigMap` object is modified at each iteration (if it exists in the graph). It's unclear to me, however, why this modification is done? You'd expect the data from `find` should be correct right?

The reason I'm asking is because the following test case now fails:
https://github.com/bro

[2020-03-25 09:23] GuillaumeHolley commented on #17
Hey Lucas,

Thank you for your message. The modification is necessary and your test case failing is actually normal.

In your test case, when you use `find()`, the `UnitigMap` object returned is the mapping of a single k-mer, your query, on a unitig of the graph. If you call `UnitigMap::mappedSequenceToString()` on that object, it is going to print a single k-mer (conditioned to `UnitigMap::isEmpt

[2020-03-25 09:54] GuillaumeHolley commented on #10
Hi guys,

It is a wonderful work @lrvdijk, thank you! I will keep a close eye on this project and it goes without saying that if you need anything, you let me know.

[2020-03-25 13:49] lrvdijk commented on #17
Aha, thanks, seems my understanding was incomplete! Thanks for the explanation, this clears a lot up!

[2020-03-25 14:07] GuillaumeHolley commented on #17
No problem ;) I'm closing this issue then.

[2020-03-25 14:07] #17 closed

[2020-04-02 12:33] johnlees commented on #7
I should have checked the issues here first, but I have made a recipe for bioconda which will be added soon:
https://github.com/bioconda/bioconda-recipes/pull/21255

So should soon be installable with `conda -c bioconda bifrost` (includes binary and libraries)

I couldn't get the OS X build to work as there seemed to be some missing header in pthreads, so if anyone knows how to fix it, that would

[2020-04-02 16:51] GuillaumeHolley commented on #7
Hi @johnlees,

Thank you for that, that's amazing! I actually submitted a bioconda recipe some time ago (https://github.com/bioconda/bioconda-recipes/pull/20840) but I ended up having issues to with the MacOS build as well and I didn't have the time to look at the issue afterwards. I have a couple more things in my PR compared to yours, an extra file to deal with some cmake issues and some more co

[2020-04-03 08:50] johnlees commented on #7
Yeah, looks like we ran into the same issue with the OS X build, I think it is likely that the version on their CI isn't new enough to support this. You can just skip the OS X build to get it to pass, which is what I did (but there is the homebrew package, so hopefully not a big issue).

A few questions on your additions:
- In the `build.sh` is the export of various Make variables necessary? It se

[2020-04-03 09:16] GuillaumeHolley commented on #7
Hey John,

Thanks for your feedback. I'm no Conda expert so here are my answers to take with a grain of salt :)

- I added the exports because I noticed that when you install Bifrost from source on MacOS and you did not install Xcode previously, the Bifrost library cannot be found because all the standard environment paths are not set. I guess the point of conda is to not have those issues so I th

[2020-04-03 10:21] johnlees commented on #7
Ah, great, thanks for clarifying! Looks like I misunderstood the zlib and pthreads usage, and I will also add the cmake file.

[2020-04-04 22:41] GuillaumeHolley commented on #7
Looks like the Bifrost recipe passed all the tests and is now merged :)
Thanks @johnlees for putting your time and efforts into this. I will close this issue now but I think we should keep in mind a way to have the MacOS version running at some point.

[2020-04-04 22:41] #7 closed

[2020-04-05 12:31] GuillaumeHolley commented on #14
Commit 528b6269d8f01c1a47e69321e000478a83e02cbb

[code]

I also added a `--help` subcommand which shows the regular help with the version number.

[2020-04-05 12:31] #14 closed

[2020-04-05 18:53] GuillaumeHolley commented on #13
Hello @ar0ch,

Thank you for your patience. It took some time but finally, commit 5cad28ca33b7eb64a285514fdcc18fe41c5a55e7 adds the automatic detection of input files format. You can now input FASTA/FASTQ/GFA, gzipped or not, as before but filenames or file extensions don't matter anymore.

I'm closing this issue now but feel free to file a new issue if you encounter any problem with that feature.

[2020-04-05 18:53] #13 closed

[2020-05-10 12:15] GuillaumeHolley commented on #10
Hey @lrvdijk and @winni2k,

I started writing a tutorial for the Bifrost C++ API which is available [here](https://github.com/pmelsted/bifrost/blob/master/doc/tutorial/Intro.md). It is a work in progress, not much content for now but I intend to enhance it with a lot more in the coming weeks. I thought this might be helpful in your quest for a Python interface ;)

[2020-05-10 12:33] winni2k commented on #10
Thanks for the heads-up!

[2020-05-13 14:14] lrvdijk commented on #10
Nice, I've made quite a bit of progress on the Python interface, will put up some documentation soon

[2020-05-14 15:00] ptrebert opened #20 "Conda/Bifrost 1.0.3 illegal instruction error"
Hi,
just fyi, after installing Bifrost via Conda/bioconda, it immediately exits with an "illegal instruction" error. Building from source on the same server is possible, though. The machine is equipped with the following CPU model:

[code]

Best,
Peter

[2020-05-14 16:12] GuillaumeHolley commented on #20
Hi @ptrebert,

Thanks for letting me know about this issue. When you installed Bifrost with Conda, did you run it afterwards on the same machine (the one used for the Conda install) or a different one?

Guillaume

[2020-05-14 16:41] ptrebert commented on #20
Hi Guillaume,
yes, all steps were executed on the same machine.

Peter

[2020-05-14 19:02] ptrebert opened #21 "Bifrost query std::bad_alloc error"
Hi Guillaume,
I am running Bifrost built from source (26746a1), and successfully build a gfa file containing several human assemblies. For "playing around", I want to query that graph with annotated regulatory regions (~20 million, as FASTA). I get the following error output shortly after the "Querying graph" stage is reached:
[code]
[code]
The machine has 1.5 TB of main memory (I am currently the

[2020-05-15 06:39] ptrebert commented on #21
Update: Bifrost query is still running (using a single thread), now for 12.5 hrs, memory usage seems to be constant at around 24 GB

[2020-05-15 08:52] GuillaumeHolley commented on #20
Hi @ptrebert,

"Illegal instructions" is usually an error occurring when you compile the program on machine A and execute it on machine B. By default, Bifrost compiles with "-march=native" as compile option, meaning it can optimize the code for the architecture it is compiled on. By executing on a different machine, the architecture might be different, hence the "Illegal instructions". Anyway, as

[2020-05-15 08:57] GuillaumeHolley commented on #21
Hi @ptrebert,

Thanks for reaching out. In normal time, I would have said "you don't have enough RAM" but with 1.5 TB, it don't think it is the issue :) Could you give me a few more information:

- Number of unitigs and k-mers in your graph?
- Numbers of colors in your graph?
- How long are you queries? Can you give me something like an average length or N50? If the lengths are very diverse, could

[2020-05-15 11:00] ptrebert commented on #20
Hi Guillaume,
thanks for all your feedback, and, yes, I agree, machine incompatibility is the most likely explanation; where this is coming from in cases like this is also unclear to me (I had the same issue already with Racon). So my expectation was clearly not that you fix that right away, but rather that it shouldn't go unnoticed, in case other users run into the same problem - or, of course, s

[2020-05-15 11:05] ptrebert commented on #21
Hi Guillaume,
I hope I got the right numbers for you:
- unitigs: ~ 55M
- kmers: ~ 2.5B
- colors: 5 (here I am sure...)
- query stats (min/median/mean/max): 50, 410, 450, ~105k

Single-thread Bifrost is still running (close to 17h now), memory consumption hasn't changed.
Thanks for looking into this.

+Peter

[2020-05-15 14:59] winni2k commented on #20
Conda installs precompiled binaries, so I would expect that if you want to distribute a conda package of bifrost without avx2 support, then you need to turn off avx2 support during compilation of the conda package (that is, in the bioconda recipe). I haven't found a package that does this yet, but I would guess numpy or tensorflow would have similar issues.

[2020-05-15 15:09] GuillaumeHolley commented on #20
I should have done that some time ago: I will add an extra option in the Cmake for AVX2: OFF to deactivate, ON to activate or NATIVE to have it ON if AVX2 is available. I'm not sure if there is a way to modify the conda recipe in a way that the end user would be able to choose one of these options when installing. But once again, installing Bifrost from source is rather straightforward so I really

[2020-05-15 15:17] GuillaumeHolley commented on #21
Hi again,

Thanks for these info. I don't see anything that is particularly annoying here, even the 105k query shouldn't be a problem for Bifrost. Maybe an issue is with the inexact mode `-n` combined with the colors. I will have a look at it this weekend and get back to you at the beginning of next week ;)

[2020-05-15 16:34] ptrebert commented on #21
Great, thanks for the effort.
Single-threaded analysis still running fine...

[2020-05-16 10:25] ptrebert commented on #21
Still running, ~40.5 hours now...

[2020-05-16 12:21] GuillaumeHolley commented on #20
Hey @ptrebert and @winni2k,

I added two options to the cmake file:
- `-DENABLE_NATIVE_ARCH=ON/OFF` to enable/disable native compilation (`-march=native`). Default is `ON`.
- `-DENABLE_AVX2=ON/OFF` to enable/disable AVX2 instructions. Default is `ON`.

Those options are now explained in the README file and I also updated the Troubleshooting section with the `Illegal instruction` error.

[2020-05-16 16:15] GuillaumeHolley commented on #21
Hi @ptrebert,

I had a look in the functions doing the inexact k-mer search per color, particularly all allocations and deallocations but everything *seemed* in order. I couldn't reproduce the issue myself. The code at this point is rather vast and unless I know what I am looking for, it's going to be complicated to find this bug. Would there be any chance you could share with me your graph, color

[2020-05-16 16:32] GuillaumeHolley commented on #21
I would appreciate if you could also give a shot to the multi-threaded querying again. I did change a couple of things and who knows.

[2020-05-17 08:13] dpellow opened #22 "keep mercy k-mers?"
When building using a reference genome (`-r`option) is it necessary to use `-y` (keep mercy) option to not have these k-mers discarded?

[2020-05-17 12:13] ptrebert commented on #21
That's some interesting news. About sharing the dataset: half of the data has been published, so I guess for debugging purposes, that's fine. You happen to have some space I can push to from the command line?
Regarding testing the updated version: I'll give it a try, but based on your remark concerning number of queries processed, I noted that the output file has still zero lines in it. Is there m

[2020-05-17 12:22] GuillaumeHolley commented on #22
No because using `-r` guarantees you that all *k*-mers from your input will be present in the output graph.

[2020-05-17 12:22] #22 closed

[2020-05-17 12:53] GuillaumeHolley commented on #21
I had one similar report last week about someone who was trying to build the colored graph but it was taking a very long time during the coloring phase, a lot more than usual. Your issue is that apparently, the querying is stuck on one of the very first queries. Combining both, I assume there is something wrong with the recent changes I made to the color container in Bifrost. As a precaution, I ro

[2020-05-18 07:30] ptrebert commented on #21
Ok, I am killing the single-threaded run now (~85 hours, still zero lines in the output file) and rebuild/restart with the current master.
Thanks for all your effort!

[2020-05-18 12:42] ptrebert commented on #21
Graph building with the latest master finished w/o issues, the querying is still broken, though. I get the same `std::bad_alloc` as before. I also started a single-threaded run to check if it generates output this time, but also that does not seem to have changed (the output file has been create about 30 minutes ago and is still empty)

[2020-05-18 13:09] GuillaumeHolley commented on #21
Damn it.

I just sent you an email to see how we can share your data such that I can figure out what's wrong.

[2020-05-19 10:06] winni2k commented on #20
I found a [user question on SO](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u) about AVX2, etc. being disabled in the pip version of tensorflow.

I think one workaround would be to create two packages: one with native compilation disabled, and one with lots of extensions enabled. In the mean-time, I think it's probably

[2020-05-24 10:43] GuillaumeHolley commented on #21
Hi @ptrebert,

Just a small update on our progress.

It took us an ridiculous amount of time to download the files from the storage account we had set up. I think their connection isn't particularly stable during the week and after a few gigabytes downloaded, the connection would be interrupted or the download would be stopped. We even thought we had it done after a wget trick and as it turns out,

[2020-05-24 14:20] ptrebert commented on #21
Ok, thanks for the update, and good to hear that you could reproduce the bug! I keep my fingers crossed that you can track this down quickly now

[2020-05-24 15:21] GuillaumeHolley commented on #21
Hi @ptrebert ,

I finally figured out the issue without Valgrind and it is a very silly bug. I decided to take a quick look at your queries and I noticed that they mix upper case and lower case characters. Internally, Bifrost processes upper case characters only so when processing input sequences, the API changes all characters to upper case. But I did not implement that in the *k*-mer search func

[2020-05-24 17:09] ptrebert commented on #21
Ok, that sounds simple enough, glad that you fixed it - I let you know if it works now ;-)

[2020-05-24 18:17] GuillaumeHolley commented on #20
The main pro of Bioconda is in my opinion that it makes the install easy. How easy in this case? Well, not much easier than the source install (which has no dependency). Based on this, I'm not sure I want to disable native compilation and AVX2 instructions, which bring a nice speed up to the software, for an install which is going to be a little bit easier. Another thing that bothers me here is th

[2020-05-24 21:18] winni2k commented on #20
I can see where you're coming from. If it's easy to compile, isn't that as easy to install as a conda package? I don't think that's the case, and there's some research by [Serghei Manghul](https://journals.plos.org/plosbiology/article?rev=2&id=10.1371/journal.pbio.3000333) that backs me up on this. However, you don't need to worry about conda packaging if you don't want to. Bifrost is available on

[2020-05-25 07:07] winni2k commented on #20
I did a bit more reading on the state of native support in conda. On bioconda-recipes there's an [open thread on the subject](https://github.com/bioconda/bioconda-recipes/issues/2354), and a few more closed ones. It appears that native compilation has been an on-going subject of discussion in the conda community, and conda has so far defaulted to wide-ranging compatibility by only assuming an x86-

[2020-05-25 08:06] ptrebert commented on #21
@GuillaumeHolley
Good news, my test run with the fixed version is producing output (with 48 threads); I keep this issue open until it finishes, but it looks all good right now. Thanks for the fix.

[2020-05-25 09:08] winni2k commented on #20
Regarding the compile-time kmer size definition, this issue exists in [McCortex](https://github.com/mcveanlab/mccortex) as well. There, the solution is to built a kmer specific binary for a kmer size of interest (e.g. `mccortex31`). There is a shell script included with mccortex that selects the correct binary at run time (i.e. 'mccortex <kmer_size> [mccortex_args...]`).

For conda packaging, the

[2020-05-25 12:47] ptrebert commented on #21
The test run finished successfully. Thanks again, closing this now

[2020-05-25 12:47] #21 closed

[2020-05-27 13:13] samhorsfield96 opened #23 "Bifrost query output .tsv merging rows in presence/absence matrix when multithreading"
I've encountered a potential issue in the presence/absence matrix .tsv produced by Bifrost query mode. When using multiple threads (>1), I've found some rows in the .tsv are merged with the row above (see attached .tsv files, '_tX' denotes the number of threads used to run query mode). For example, in file 'rep_bifrost_List_graph_t2.tsv', query_name 3429 is merged with the row containing query_nam

[2020-05-27 13:31] GuillaumeHolley commented on #23
Hi @samhorsfield96,

Thank you for reporting this issue. I believe I have found the issue and I will push a fix for it tonight. I will let you know when it is online.

Guillaume

[2020-05-27 14:51] GuillaumeHolley commented on #23
Just pushed the fix, can you let me know if it works on your side?

[2020-05-28 08:29] samhorsfield96 commented on #23
Hi Guillaume,

I've just tested the fix on the same files and unfortunately it seems the issue is still there (please see attached files). For example, in rep_bifrost_List_graph_t2_new.tsv, pattern_ID 27681 is merged with pattern ID 29773. This was generated using Bifrost v1.0.4.

Sam
[Troubleshooting.zip](https://github.com/pmelsted/bifrost/files/4694236/Troubleshooting.zip)

[2020-05-28 21:42] GuillaumeHolley commented on #23
Hi @samhorsfield96,

I will have another look at it this weekend.

Guillaume

[2020-05-29 16:35] GuillaumeHolley commented on #20
Hi @winni2k,

Thanks for all these information. I get your point regarding bioconda and the community fixing recipes. Yet, I feel very responsible for these recipes. If I just keep updating the source and no one update the recipes, people will end up using deprecated or buggy versions of Bifrost. So it's not that I don't want to take care of it, I really do but I'm lacking time for it. But hey, no

[2020-05-29 17:16] ptrebert commented on #20
Though I don't have anything to add in particular about Conda recipes and related build issues, I leave the below code snippets here for people who want to automatically install Bifrost on various infrastructure potentially supporting the AVX2 extension (and cannot wait for appropriate builds being available in a Conda channel :wink: ).

I use the following Conda environment (simpler specification

[2020-05-30 06:47] winni2k commented on #20
This is really cool @ptrebert! Thanks for sharing! I might start doing this kind of thing in some of my snakemake rules with other tools that would benefit from native compilation.

[2020-05-30 07:01] winni2k commented on #20
@GuillaumeHolley I'd be happy to tinker with the bifrost package on bioconda for you, I just don't want to make a decision on this for you given how much you are invested in the code ;)

Of the options described above, how would you like the bioconda package to proceed? I would recommend two steps. First, fixing the installation problems by making the `bifrost` package be compiled with `-march=x86

[2020-06-03 22:30] GuillaumeHolley commented on #20
Hey @winni2k,

Sorry for the delay. I have changed the cmake option `-DENABLE_NATIVE_ARCH` into `-DCOMPILATION_ARCH`:
- Default is native compilation (`-march=native`) with `-DCOMPILATION_ARCH=native`.
- Bioconda can use the option `-DCOMPILATION_ARCH=x86-64` (any `-march=` argument will work).
- Disabling any form of architecture optimization is `DCOMPILATION_ARCH=OFF` (basically remove the `-mar

[2020-06-03 22:37] GuillaumeHolley commented on #23
Hey @samhorsfield96,

Sorry for the delay. I have pushed the fix, could you give it one more try and let me know how it works for you?

Guillaume

[2020-06-04 07:50] winni2k commented on #20
Great! I'll change the bifrost bioconda recipe to use `-march=x86-64` for now.

We should discuss what else to do. I have read through https://github.com/jjhelmus/selectable_pkg_variants_example a bit more, and it appears that this solution requires the user to select an optimization version during installation (i.e. `bifrost` or `bifrost-skylake`) based on the CPU that they are running. @ptrebert

[2020-06-04 08:04] ptrebert commented on #20
@winni2k
Of course, I can only speak for myself/the infrastructure I am using, but heterogeneous architectures are often encountered in cluster environments, where different architectures are usually selectable as "resource". Hence, I think the above solution is perfectly fine, although I would suggest to make the requirement more explicit, i.e., `bifrost` and `bifrost-avx2`. As an example, the so

[2020-06-04 08:45] samhorsfield96 commented on #23
Hi @GuillaumeHolley

Yes, this works perfectly! Many thanks for sorting this issue. Is there a plan to push this fix to the version on bioconda?

Thanks again, Sam

[2020-06-04 09:20] GuillaumeHolley commented on #23
We are currently discussing in issue #20 a new bioconda version of Bifrost that would include targeted architecture optimizations. I have no doubt that when it is ready, it will have the latest Bifrost version :)

[2020-06-04 09:20] #23 closed

[2020-06-04 09:43] winni2k commented on #20
Excellent. Thanks for the input @ptrebert.

@GuillaumeHolley can you create a release of the current master branch so that I can use it in the bioconda recipe?

[2020-06-04 12:17] winni2k commented on #20
I have been reading a bit more on the march argument in gcc, and I came across these three pages that seem helpful:

1. https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html
2. https://wiki.gentoo.org/wiki/Safe_CFLAGS
3. https://wiki.gentoo.org/wiki/GCC_optimization#Optimization_FAQs

The first link is the gcc documentation on what can be supplied to the `march` flag. The second link is part of the

[2020-06-04 12:20] winni2k commented on #20
Perhaps also `sandybridge` for an architecture that supports AVX but not AVX2.

[2020-06-04 21:18] winni2k commented on #20
I had a chat on the gitter channel with the folks at bioconda, and I think the idea of having multiple bioconda packages for a single project did not go over well. Also, I find the solution proposed by jjhelmus a bit daunting.

Instead, I remembered that C/C++ code can be packaged in a python package, and I found a tool-chain (scikit-build) that allows this quite easily from a CMake project. I hav

[2020-06-04 21:22] winni2k commented on #20
Oh, I had to change the linking of the Bifrost binary to use the static library because the dynamic library was not being found by the Bifrost binary at runtime. I bet this is an RPATH issue, and RPATH issues are still on the todo list for the scikit-build project. Is it a terrible problem if we link the Bifrost binary statically instead of dynamically? I don't know CMake very well. Is there an ea

[2020-06-05 18:06] winni2k commented on #20
An update: I tried installing the pypi version into the miniconda3 minimal docker image, and I needed the following environment.yml to get the package to install.

[code]

[2020-06-14 02:10] xiekunwhy opened #26 "How to construct de Bruijn graphs using bifrost without reference sequence?"
Hi,

For non-model species, how to construct de Bruijn graphs using bifrost without reference sequence?

Best,
Kun

[2020-06-14 14:35] GuillaumeHolley commented on #26
Hi Kun,

Since you don't have a reference sequence, I assume you want to build the de Bruijn graph from reads. Hence use the option `-s` to input your reads (you can see all the options with `--help`). By default, `-s` will construct the de Bruijn graph from all k-mers occurring twice or more in the input reads (k-mers with once occurrence are considered to result from a sequencing error).

Guilla

[2020-06-15 17:00] GuillaumeHolley commented on #26
I will close this issue now. Let me know if you need more information.

Guillaume

[2020-06-15 17:00] #26 closed

[2020-06-22 19:16] lrvdijk commented on #10
A pre-pre-pre release of the Python interface can be here @winni2k @GuillaumeHolley : https://github.com/broadinstitute/pyfrost

[2020-06-23 13:55] ptrebert commented on #20
@winni2k
Sorry that it took me so long to come back to this. I just tested installing Bifrost using the environment that you posted above (the one including binutils etc). It looks like this is working even on the machines that lack the AVX2 instruction set.

[2020-06-23 16:21] GuillaumeHolley commented on #10
Wow, amazing work @lrvdijk ! Unfortunately, I have little time to do Bifrost-related work at the moment but as soon as I have some time, I will give it a shot. Thanks!

[2020-06-23 16:45] GuillaumeHolley commented on #10
Btw @lrvdijk, can I advertise your work "publicly" (i.e Twitter)?

[2020-06-23 16:51] lrvdijk commented on #10
Thanks! Let's hold off for maybe a month before more broadly announcing it, in the coming weeks I'll use the library for some of my own research projects, and I'm sure I will encounter bugs and missing features.

Will update when I'm more comfortable announcing it haha!

[2020-06-24 07:03] winni2k commented on #10
This looks great! I have some thoughts/suggestions. I'll post those on the pyfrost repo.

[2020-06-29 13:07] ptrebert opened #27 "last file ignored for fofn input?"
Hi,
I have a question regarding the use of a "file of filenames" to supply several read and reference sequence files to Bifrost (build from source `ab43065`). I used text files with two read sets (`-s`) and four reference sequences (`-r`), but when I queried the graph, the resulting tsv had only four columns; one read data set and one reference file was missing. Since in both cases, the respective

[2020-06-29 17:13] lrvdijk opened #29 "Does Bifrost provide k-mer counts?"
I see the CompressedCoverage class in the source code, but after reading the code a bit more, it seems to stop counting after it passes the filter (to keep a k-mer).

[2020-07-01 07:17] ptrebert commented on #27
confirmed: I added a newline at the end of the fofn files, and after rerunning everything, the missing sequences actually show up in the output of the `Bifrost query` command. Would be great if that could be fixed.

[2020-07-01 07:32] phiweger opened #30 "Python bindings"
Very great tool!

Have you planned to provide Python bindings of the Bifrost library?

I am asking bc/ I would like to e.g. identify unitigs that contain all colours, and I guess this is trivial using the library, but C++ gets in the way (for many users I think).

Best

[2020-07-01 08:28] winni2k commented on #30
If I understand you correctly, then I think [pyfrost](https://github.com/broadinstitute/pyfrost) might be what you are looking for?

[2020-07-01 08:29] winni2k commented on #30
See also #10

[2020-07-01 10:46] phiweger commented on #30
haha amazing! thanks a lot!

[2020-07-01 10:47] #30 closed

[2020-07-07 17:12] lrvdijk commented on #29
As far as I understand, it has a 2 bit counter which is used to filter low-coverage <2x k-mers. But it doesn't provide full k-mer counts.

[2020-07-07 17:12] #29 closed

[2020-07-07 17:15] lrvdijk commented on #27
On any Unix system, files that do not end in a newline are discouraged (and probably don't work properly with many other unix tools too), so may not be a Bifrost bug.

https://unix.stackexchange.com/questions/18743/whats-the-point-in-adding-a-new-line-to-the-end-of-a-file

[2020-07-07 17:18] GuillaumeHolley commented on #29
Hi @lrvdijk,

I'm sorry for the delay, I am currently in holidays and I was expecting to answer all Bifrost related issues/PR when I am back next week.

Your understanding is correct: k-mers only have a 2 bits counter associated with them to filter low coverage k-mers when read are input. It used to be that we were also storing a mean k-mer coverage per unitig (you surely have seen some legacy cod

[2020-07-07 17:21] GuillaumeHolley commented on #27
Hi @ptrebert and @lrvdijk,

Sorry for the delay, I am currently in holidays and I will have a look/fix it as soon as I am back (next week). I keep the issue open in the meantime ;)

[2020-07-07 17:27] GuillaumeHolley commented on #20
Hey everyone,

I apologize for the delay. I am currently in holidays but as soon as I am back next week, I will make a new release for Bifrost ;) Thank you for you help!

[2020-07-10 16:44] phiweger commented on #3
@GuillaumeHolley I think the ability to parse color metadata would be very useful. in the absence of a Python API I can parse the graph myself and do stuff w/ it. but the color information is missing for several use cases I imagine.

would it be possible to give bifrost a flag to write the node: color mapping to eg csv or some non-binary format? BlastFrost can do this (it writes it to the gfa file

[2020-07-14 22:20] GuillaumeHolley commented on #27
Hey @ptrebert and @lrvdijk ,

As stated above, "it's not a bug: it's a feature" :) Input list files must end with a newline character.

[2020-07-14 22:20] #27 closed

[2020-07-14 22:24] GuillaumeHolley commented on #20
Bifrost v1.0.4 released. I will make the Brew package in the coming days.

[2020-07-17 01:58] LucasBarbosaRocha opened #31 "API"
Hello,

In the intro.md we have:

UnitigMap<> um = cdbg.find(km);

`if (um.isEmpty) cout << "Kmer " << kmer_sequence << " was not found" << endl;`
`else {`
`const string unitig = um.referenceUnitigToString();`
`const string strandness = um.strand ? "forward" : "reverse-complement";`
`const size_t position =` um.**pos**;
`}`

But, the pos variable does not exist in the data structure. What should I

[2020-07-17 08:16] GuillaumeHolley commented on #31
Hi @LucasBarbosaRocha,

Sorry about that, that's a mistake from my side. The variable you are looking for is not `pos` but `dist`. I will edit the tutorial tonight (and maybe write some more this weekend). In case of doubt or mistake, it is good practice to have a look at the documentation generated by doxygen since it is automatically generated from the code itself.

I will close the issue after

[2020-07-18 04:23] LucasBarbosaRocha commented on #31
Hi Guillaume,
Thanks for your answer.

I would like to ask another question. Given a sequence and a Bruijn graph.
I'm looking for a tool that builds the graph of bruijn and that gives me back the position of the vertex that the substring of my sequence matched. In the following way:

Sequence s = AACGTT
And a part of the De Bruijn Graph: ACG -> CGT -> GTT
And the tools gives me the position of the

[2020-07-18 11:18] GuillaumeHolley commented on #31
Hi Lucas,

I think what you are looking for is the function `searchSequence()`. According to the doc `Performs exact and/or inexact search of the k-mers of a sequence query in the Compacted de Bruijn graph.` Returns `a vector of pair<size_t, UnitigMap<U, G>> objects. Each such pair has two elements: the position of the k-mer match in sequence seq and the corresponding k-mer match in the graph. Not

[2020-07-22 04:38] LucasBarbosaRocha commented on #31
Hi Guillaume,

Interesting. This function seems to be exactly what I need. I am studying your tool at the moment. I believe that the API will suit me perfectly, I hope.

Thank you so much Guillaume,
Lucas B. Rocha

[2020-07-22 09:43] GuillaumeHolley commented on #31
Cool :) Let me know if you have more questions!

Guillaume

[2020-07-22 09:43] #31 closed

[2020-07-25 11:28] phiweger opened #32 "Corrupted tsv when querying colored graph?"
Hi,

I try to query a lot of k-mers (about 5 mio) in a colored graph (based on some reference genomes). All default settings k=31, query k-mers are also 31.

The returned tsv has rows of different lengths. My suspicion is that Bifrost writes in parallel to a single file and somehow there is no write lock so that one process writes to the file even though another one has not finished. Could this be

[2020-07-25 17:30] GuillaumeHolley commented on #32
Hi @phiweger,

That's annoying, sorry about that. There is obviously a write lock but it is possible it is not used properly. I had some issues with this before so I will make some more testing soon. I would appreciate if you had a minimum example of graph + colors + queries for which the issue occurs that I could use.

[2020-07-26 11:54] phiweger commented on #32
Sure -- https://osf.io/eyunk/

[2020-07-27 21:16] GuillaumeHolley commented on #32
Hi @phiweger,

I downloaded your files and I performed a simple querying using most default parameters:
`Bifrost query -v -t 16 -g graph.gfa -f graph.bfg_colors -q kmers.fasta -o res1`

I used 16 threads to "maximize" my chance of messing with the output. I then counted the number of fields in the header of the TSV output:
`head -n 1 res1.tsv | awk '{print NF}'`
which gives 1708.

Then I searched

[2020-07-27 21:38] GuillaumeHolley commented on #32
I actually don't think anymore that the problem is conda. I was trying to update the conda recipe and realized that the recipe has been automatically updated to the latest version by the BioCondaBot. Same with Brew. Can you do, in addition to my previous questions, a `Bifrost --version` for me?

[2020-07-28 13:19] phiweger commented on #32
Indeed!

[code]

I installed Bifrost by building it inside a Docker container (my [last build](https://hub.docker.com/r/nanozoo/bifrost) is actually v1.0.4 but I kept using an older one v1.0.3 -- thanks a lot for your quick help!

Kindest regards

[2020-07-28 13:19] #32 closed

[2020-07-31 18:21] GuillaumeHolley commented on #20
Dear @winni2k and @ptrebert,

Bifrost 1.0.4 is officially released as Bioconda and Brew packages. The Bioconda/Brew package disables native compilation so it shouldn't be an issue to install on one machine and use it on another one. Even better, the Bioconda package is now available for MacOS (for some reasons, I couldn't pass Bioconda's CI test for OSX before).

[2020-07-31 18:21] #20 closed

[2020-08-04 18:50] lrvdijk opened #33 "mappedSequenceToString: incorrect behavior when strand=false and um.len > 1?"
Hi,

Imagine having a unitig with sequence `TCGAAATCAGT` (reverse complement: `ACTGATTTCGA`).

When doing `ccdbg.find(Kmer("ACTGA"))` (k=5), you'll get a `UnitigMapping` with `um.dist = 6` and `um.len = 1, um.strand = false`, because ACTGA is the first k-mer of the reverse complement of the TCGAAATCAGT unitig, and thus the last k-mer (pos=6) of the unitig in forward orientation.

When `len=1`, map

[2020-08-05 00:24] lrvdijk opened #34 "Tutorial on k-mer color API, my current use results in corruption?"
Hi,

Do you have any resources on how to use the k-mer/unitig color API in Bifrost? I have been playing around with it, and I think I understand it, but I'm encountering an issue where some unitigs have no colors associated with them anymore, or worse, the whole colorset is a nullptr.

For context: say I have a graph constructed from both a reference genome and WGS data from a different strain. I

[2020-08-05 16:27] GuillaumeHolley commented on #34
Hey @lrvdijk ,

Except the documentation itself, I do not have any resources on how to use the k-mer/unitig color API in Bifrost. I am in the process of writing a tutorial for the Bifrost API but there is quite some ground to cover and I have been busy with other projects recently. I will try to find the time for it soon.

I had a quick look at your code and it looks just fine to me, no incorrect

[2020-08-05 16:46] GuillaumeHolley commented on #33
Hi @lrvdijk ,

As you said, if you have `um.dist=6` and `um.len=1`, you are already on the last k-mer of the unitig (in forward direction). Increasing `um.len` such that it is larger than 1 means that you are trying to extract a substring which is beyond the end of the unitig. And this is undefined behavior, just like using `string::substr()` on a length extending beyond the end of the string. In

[2020-08-05 17:22] lrvdijk commented on #33
Yes, my point is more, shouldn't the behavior change when strand = false? So to build a mapped sequence when strand = false, we should enumerate dist...(dist-len+1) (i.e. decreasing) instead of dist...(dist+len)

[2020-08-05 17:27] lrvdijk commented on #33
I've created a workaround, by first reverse complementing the sequence and then taking a substring from it:
https://github.com/lrvdijk/bifrost/commit/85107dd274479c30543c530310c0b86714a733ba#diff-a60c6453651403f4137a276fe2a59ee9L53

[code]

[2020-08-05 17:51] lrvdijk commented on #34
Thanks for your response!

I've added some extra tests, and it seems that after removing unitigs the colors become incorrect, the test consistently fails at the following line:
https://github.com/broadinstitute/pyfrost/blob/master/tests/test_node_removal.cpp#L75

If you would like to try for yourself, the data is available here: https://github.com/broadinstitute/pyfrost/tree/master/tests/data

[2020-08-06 18:39] GuillaumeHolley commented on #33
Hey @lrvdijk,

I might be incorrect but it seems to me you are replacing a problem with another one. Using your method, if you do `um.dist = 0` and `um.len = 2`, you program will do the exact same undefined behavior as before which is extending over the end of a string. Furthermore, you have now two behaviors to manage for UnitigMaps: one in forward (increase) and one in reverse-complement (decrea

[2020-08-07 15:13] lrvdijk commented on #33
Hmm you're right, and yeah reverse complementing the whole unitig is far from an ideal solution. Anyway, good to know that `dist` and `len` should always be with respect to the forward strand, might need to check if I follow that assumption in my Python bindings too.

Closing for now, thanks!

[2020-08-07 15:13] #33 closed

[2020-08-08 17:43] GuillaumeHolley commented on #34
Hey @lrvdijk,

I am having a look at your issue at the moment. In the meantime, I notice the following issue on [lines 14](https://github.com/broadinstitute/pyfrost/blob/4293c162079272a9335b1f5215071ff1cc8e6f1c/tests/test_node_removal.cpp#L14), [84](https://github.com/broadinstitute/pyfrost/blob/4293c162079272a9335b1f5215071ff1cc8e6f1c/tests/test_node_removal.cpp#L84) and [87](https://github.com/b

[2020-08-08 18:19] GuillaumeHolley commented on #34
Hey @lrvdijk,

I think there is a problem with your color file to start with and that's the reason you get a weird behavior downstream in your test program. With multiple threads, I could read it but not join the color sets to their respectiveunitigs. With a single thread, I don't even pass the color reading:
[code]
The error message is a little bit cryptic but I know it is a CRoaring error, indic

[2020-08-16 22:52] GuillaumeHolley commented on #34
Hi @lrvdijk,

Any chance I could have a look at those files? Thanks.

Guillaume

[2020-08-17 13:16] lrvdijk commented on #34
Excuse me for the delay, here's a dropbox folder with the original data: https://www.dropbox.com/sh/xp0ehfhgzgynj94/AADEgixLc1XkqtT-TIZXcTUpa?dl=0

[2020-08-17 18:34] GuillaumeHolley commented on #34
Thanks :)

[2020-08-18 20:13] GuillaumeHolley commented on #34
Quick question @lrvdijk: did this issue occur on Linux or MacOS (or both) for you?

[2020-08-18 20:17] lrvdijk commented on #34
I have only tested cleaning on MacOS.
--
Lucas van Dijk

On Tue, 18 Aug 2020 at 16:13, Guillaume Holley <notifications@github.com>
wrote:

[2020-09-09 17:11] lrvdijk commented on #34
I've tested it now on Linux with GCC too, but the same problem happens.

[code]

[2020-09-10 18:00] GuillaumeHolley commented on #34
Hey @lrvdijk,

Thanks for letting me know. I have been able to reproduce the issue (on Linux) on my side and I am working on it but unfortunately, not enough so far since I don't have a solution (yet). Here is what I've got:

- The issue is most likely related to the merging (`Bifrost update`). I haven't been able to reproduce the issue without the merging. Also, a colleague reported me the same i

[2020-09-11 14:18] lrvdijk commented on #34
Ah glad to hear you can reproduce it on your end!

Thanks a lot for all your work on this project and let me know if I can be of help.

I'll double check, but if I recall correctly I also encountered this problem when merging with a single thread.

[2020-09-16 22:56] GuillaumeHolley commented on #34
Hi @lrvdijk,

I believe I have found the nasty bug and I pushed a bugfix for it. Unfortunately, any of the colored graphs produced over the last few weeks with Bifrost might have been corrupted. Sorry about that. Let me know as soon as possible if that fixes your issues.

[2020-09-17 19:14] rickbeeloo opened #35 "Can we also extract the location of the unitigs?"
I just took a look at the GFA output and noticed that, unlike tools such as seqwish, Bifrost does not output the paths corresponding to each node. Is it possible to obtain the locations of each of the unitigs in the original input sequences?

[2020-09-17 21:11] GuillaumeHolley commented on #35
Right now, this is not available out of the box in the binary but I could implement that if there is a need for it.

[2020-09-17 21:18] rickbeeloo commented on #35
Can't this be implemented based on BlastFrost as this does output coordinates? As I just see also suggested here: https://github.com/pmelsted/bifrost/issues/3

[2020-09-17 21:43] lrvdijk commented on #34
Amazing work!! I've successfully ran all my scripts without errors. Thanks a lot!

[2020-09-17 21:43] #34 closed

[2020-09-17 21:51] GuillaumeHolley commented on #34
Awesome!

[2020-09-18 17:17] lrvdijk commented on #35
That's a disadvantage of De Bruijn graphs in general, you lose that kind of navigational data to reconstruct the original sequences that went in.

Our group is planning to implement links [1] on top of Bifrost, which will help with that, expect early release end of this year, or maybe early next year.

[1]: https://academic.oup.com/bioinformatics/article/34/15/2556/4938484

[2020-09-19 17:42] rickbeeloo commented on #35
@lrvdijk aah interesting! Aren't the origins of the unitigs encoded in the color binary though? or is solely the presence of the individual k-mers within the untigs recorded?

[2020-09-19 18:54] ekg commented on #35
Nice! This will be really useful. I was wondering why the method hadn't caught on.

[2020-09-19 19:00] GuillaumeHolley commented on #35
Hey everyone,

I'm adding the feature to my todo list :) To answer your question @rickbeeloo, only the presence/absence of the individual k-mers is recorded in the color file.

[2020-10-02 10:22] rickbeeloo commented on #35
Hi @GuillaumeHolley @lrvdijk , would it (for now) be possible to get the k-mer/unitig paths along the input genomes by querying the first part of the genome - let's say 5kb - and then traverse all edges (with the input genome color) till there are not edges left anymore (i.e. end of the genome)?

[2020-10-02 10:25] ekg commented on #35
You could also map the unitigs back to your reference graph. This should
tell you their locations.

On Fri, Oct 2, 2020 at 12:23 PM rickbeeloo <notifications@github.com> wrote:

[2020-10-02 10:42] rickbeeloo commented on #35
@ekg Sorry I'm not sure what you mean with "reference graph"? We can get the unitgs from the Bifrost graph (e.g. via `unitig-caller`) and map them to the original input genome sequence(s) but you are talking about a graph?

[2020-10-02 11:56] ekg commented on #35
Sorry, I meant reference genome. (I'm used to working with reference graphs.)

[2020-10-03 13:48] rickbeeloo commented on #35
@ekg This indeed would work for large unitigs that can be unambiguously mapped - thus mostly highly conserved or accessory genes between a set of genomes. However, for genes in the middle (i.e. shared regions but variable parts) the unitigs will be short and linked via k-mers with different colors that cannot be unambiguously mapped to the reference genomes.

[2020-10-14 00:14] lrvdijk opened #36 "[Feature request] Programatically add sequence to a colored compacted De Bruijn graph"
The class CompactedDBG has a function `add` to add sequence to the graph (and automatically turn it into unitigs).

This function has not been adapted for ColoredCDBG, and it seems that there's no easy API add sequence to a colored de bruijn graph (with a specific color, new or existing).

[2020-11-06 13:01] tillbaar opened #37 "GFA output: DA field meaning"
In the GFA output, all segments carry an optional field with the tag DA of type Z (printable string incl. whitespace). What is the meaning of this field?
At least in the output files I generated so far, this field always contained an integer >0.

I hope I didn't just overlook the explanation somewhere in the documentation.
Also, I am blown away by how fast Bifrost is. Awesome work!

Thanks, Till

[2020-11-06 13:47] GuillaumeHolley commented on #37
Hi @tillbaar,

The optional field "DA" stands for "Data Access": It is used by Bifrost to associate unitigs to their color classes when reading a colored de Bruijn from disk. Hence, it is only output if a colored de Bruijn graph is created.

Thank you for your kind words, let me know if you have any questions or suggestions about Bifrost.

Guillaume

[2020-11-06 13:50] #37 closed

[2020-11-24 10:01] samhorsfield96 opened #38 "Adding "<" operator to unitigIterator class and "[]" operator to CompactedDBG class"
Would it be possible to add a "<" operator to the unitigIterator class and a "[]" operator to CompactedDBG class?

I am implementing a function with openMP multithreading where I am iterating over unitigs using a for loop. However, openMP dictates that the for loop be in the format ```for (unitigIterator i = cdbg.begin(); i < cdbg.end(); i++)``` which is not currently possible to implement.

Many

[2020-12-19 11:39] GuillaumeHolley commented on #38
Hi @samhorsfield96,

Sorry about the delay, for some reasons I missed the notification of this issue until today. Implementing those operators is feasible I think but would require some important refactoring. Unfortunately I am the only person working on Bifrost at the moment so I'll add this to my todo list but I wouldn't expect it to be released any time soon.

Guillaume

[2021-01-07 11:07] ggautreau opened #39 "Query a colored graph for presence/absence of queries in each color of the graph"
Hi,

I have an issue when using Bifrost (version  : 1.0.5) to query a colored graph for the presence/absence of queries in each color of the graph. Indeed, the resulting file only contains a single column although I have several colors in the graph.

Can you help me ?

Thx and happy new year :)

Files used: https://drive.google.com/drive/folders/1tnTFPk2FAVL_Ax_qupVEHCASSAEIQ07_?usp=sharing

**Ste

[2021-01-07 11:31] GuillaumeHolley commented on #39
Hi @ggautreau,

Happy new year :)

Bifrost considers that each **input file** is a different color. Since your graph was built from a single FASTA file, it has only one color.

Best,
Guillaume

[2021-01-07 11:43] ggautreau commented on #39
Sorry, I thought each sequence entry in my input fasta file was considered as a color. Thank you for your explanation!

Best :)

[2021-01-07 11:52] GuillaumeHolley commented on #39
No problem. Actually, I've been ask for this multiple times (one record = one color) so I'll add it to my todo list.

Guillaume

[2021-01-07 11:52] #39 closed

[2021-01-07 11:58] GuillaumeHolley opened #40 "Color graph based on records rather than input files"
Currently, Bifrost colors the graph based on the input files because Bifrost was originally designed with short read data in mind (one color = one set of short reads from a sample). However, it often happens that the dBG is built from multiple assembled genomes within a same input files as an example. For this use case, we want one color **per** record (see #39).

[2021-01-19 05:17] kevyin opened #41 "overflow gfa link output at k128"
Hi
Thank you for bifrost

Was wondering if you could help with this strange error

[code]

When I run on a dataset, some vertex numbers seem to have overflowed in the link output,
94537891117328 changes between runs, and is not occur in any "S"egment of the gfa
[code]

I get more normal looking output with other values of K. I've tried 32, 96, 192 (It could be happening with other datasets though)

[2021-01-19 12:13] kevyin commented on #41
[chunk_2_1793.fq.gz](https://github.com/pmelsted/bifrost/files/5835760/chunk_2_1793.fq.gz)
this is the dataset

[2021-02-02 17:54] samhorsfield96 opened #42 "How is unitig sequence strandedness decided"
Hi,

I have a quick query about how unitig sequences are stored in the graph. How is the strandedness of the unitig sequence stored within the graph decided upon? Is it always the same as the strandedness of the input sequence, or can it vary depending on sorting of constituent k-mers e.g. lexicographically?

[2021-02-04 11:52] Waschina opened #43 "Installation command conda"
I am sorry for this tiny issue, but I think the installation command for conda in the README.md should include `install`; so in full;
`conda install -c bioconda bifrost`

Thank you!
Silvio

[2021-03-18 08:50] sebschmi opened #45 "Invalid pointer in free during multithreaded query"
Hi,

thank you for creating Bifrost.

Unfortunately, when I run `bifrost query` with [these](https://github.com/pmelsted/bifrost/files/6162530/test.zip) inputs and `-t 8`, it crashes with `munmap_chunk(): invalid pointer` (in a debug build). When only running with a short part of the query, or setting `-t 1`, it does not crash.

[2021-05-03 09:32] sebschmi opened #47 "Are even kmers supported?"
Does bifrost support kmers of even length, including the edge cases this produces, like self-complemental nodes?

[2021-05-03 21:54] GuillaumeHolley commented on #47
Yes

[2021-05-03 21:54] #47 closed

[2021-05-04 08:26] sebschmi opened #48 "Invalid edge reported for self-complemental nodes"
Consider the following input reference file:

a.fa
[code]

Using the command line `Bifrost build -k 4 -r a.fa -o a` on the current master of this repo yields the following result:

a.gfa
[code]

The reverse complement of `S1` is `CCGCG`, which does not overlap in three characters with `CGCGG`. So the edge `L1` must be wrong.

Note that the node `CGCG` is self-complemental.

[2021-05-04 09:24] GuillaumeHolley commented on #48
Thanks for reporting this issue, I'll investigate asap. I wouldn't be surprise that that the issue is related to the very small k-mer size, I don't remember testing that edge case. Did you have the same issue with larger k-mers (k=5,6)?

[2021-05-04 09:48] sebschmi commented on #48
Thank you for the quick answer.

Thank you for the quick response.

I get the same issue for k=30 with the following input reference: `CCCCCCCCCCCCCCGCGGGGGGGGGGGGGGG` (13 Cs attached to the front and 13 Gs attached to the back of the original string)

It is not possible to create the same test-case with uneven k, as then there would not be any self-complemental nodes.

[2021-05-18 02:21] LucasBarbosaRocha opened #49 "Update a k-mer"
Hey, Guillaume...

You developed Bifrost for De Bruijn graphs and as a researcher of this type of graph, could you answer a question for me?

I have a graph of De Bruijn and I want to perform the editing operations (substitution, insertion, deletion)  on the labels of the vertices in the De Bruijn graph.

How should I proceed? What would you think about that? Do I change a label and propagate to t

[2021-06-14 02:46] damiankao opened #50 "[feature request] dumping color file into parsable format"
It would be great if we can dump the color file into a text format or something easier to parse so we can analyze the graph.

[2021-06-23 19:41] #45 closed

[2021-07-06 17:38] LucasBarbosaRocha opened #52 "Warning"
Hi Friends,

Could you tell me how I fix this warning?

warning: ‘BlockedBloomFilter’ has a field ‘BlockedBloomFilter::fast_div_’ whose type uses the anonymous namespace [-Wsubobject-linkage]
 class BlockedBloomFilter {

 Thanks,
 Lucas B. Rocha

[2021-07-16 01:44] LucasBarbosaRocha opened #53 "Houston, I have a problem"
My friends, I have a question.

A) I created a graph with just the k-mer TTT and I searched the k-mer TTT with the find function and the function returned that it found the k-mer in the graph.

B) Then I created a graph with only the AAA k-mer and I searched the TTT k-mer and I searched with the find function and the function returned that it found the k-mer in the graph (because of the reverse co

[2021-07-16 11:22] GuillaumeHolley commented on #53
Hi @LucasBarbosaRocha,

The function `referenceUnitigToString()` returns the unitig in an arbitrary direction. Also, note that if you had created a graph using ATTTG and queried for TTT (case A in your example), using `referenceUnitigToString()` would return the whole unitig ATTTG  and not just TTT.

I think what you are looking for is the function `mappedSequenceToString()` which:
1 - Takes into

[2021-07-16 11:22] #53 closed

[2021-07-16 11:27] GuillaumeHolley commented on #52
Hi @LucasBarbosaRocha

You cannot but I can, I probably need to add a namespace for it or something like that. It's not super nice to see that warning when you compile Bifrost but it is an important warning.

I'll let you know as soon as I have fixed it.

[2021-07-18 02:33] LucasBarbosaRocha commented on #53
Yeap..

It helps me, but it helps when I have one base. When I have the case below I'm confused and I still have a question:

Case A)

Case B)

But I would like exactly TTT (or TTTTT) and AAA (or AAAAA) for case A and B respectively. Not AAA for both cases.

Could you tell me what's going on?

Thanks,
Lucas B. Rocha

[2021-07-27 15:50] ptrebert opened #54 "bad alloc in v1.0.5 and latest master"
Hi,

I get the below error for both the v1.0.5 installed from Conda (with k=31) and the latest master build (with k=63) for the Bifrost `build --colors` command:

[code]

The input is a bunch of read files (mixed gzipped fastq and fasta). I tested the same command (using the latest master build) with two small fasta files, and that works. Could that be a simple issue with the input reads (similar

[2021-12-08 21:15] lrvdijk opened #55 "[Q] What is the optimal to get a list of neighbors restricted to a color?"
Hi, quick question: what would be optimal way to get a list of neighbors of a node, restricting to neighbors associated with one or more given colors?

I have an initial implementation here: https://github.com/broadinstitute/pyfrost/blob/b0d6606dc20ef8b692e91df6dfed25dc40f072b5/src/pyfrostcpp/Neighbors.h

Profiling of a tool I'm working showed that it spent most of its time in one of above functio

[2021-12-18 03:18] LucasBarbosaRocha opened #56 "Houston, I have a problem²"
Guillaume, I have a important question...

in July I was using Bifrost and I created a graph with 3 <= k <= 31 and it worked normally.

This week I did git the latest version of bifrost and I can only add sequences for 29 <= k <= 31... To check this question, I put a print inside the first for of the **bool function CompactedDBG<U, G> ::add(const string&seq, const bool verbose){...}** and it's wit

[2022-01-24 10:16] samhorsfield96 opened #57 "undefined symbol: KmerIterator::operator*() when using API with conda"
Hi, I am getting an error when using the bifrost API during installation of unitig-caller (https://github.com/johnlees/unitig-caller) with conda. The conda package installs without any errors when using ```conda install unitig-caller```, however when I run the unitig-caller binary I get the following error:

```undefined symbol: KmerIterator::operator*()```

This does not occur when I downgrade my

[2022-01-24 10:53] GuillaumeHolley commented on #57
Hi @samhorsfield96,

I am not too familiar with conda in general so I am not sure how I can help. `undefined symbol` is usually a linking problem (during compilation, the compiler first compiles each file individually and then links the compilation units together). The Bifrost binary works fine on my side and I have used its library in another one of my project where everything works fine as well,

[2022-01-24 15:34] GuillaumeHolley commented on #57
I might have found the issue, working on it.

[2022-01-25 10:14] GuillaumeHolley commented on #57
Hi Sam,

I think I have found what the issue is. The way I see things, you probably have Bifrost installed twice on your computer:
- A "global" install available in your PATH (probably in `/usr/local`) which is Bifrost 1.0.5
- A "local" conda install for `unitig-caller` which is Bifrost 1.0.6

Now the problem is that when `unitig-caller` imports the header file of Bifrost in its own code, it uses

[2022-01-25 16:00] h836472 opened #58 "Installation from source fails"
Dear Bifrost Developers,

Compilation and install of bifrost from source code fails as walk trough the lists of commands provided in the manual:

_git clone https://github.com/pmelsted/bifrost.git
cd bifrost && mkdir build && cd build
cmake ..
make
make install_

when calling command "make install", the installation script fails with the following error message:

_-- Installing: /usr/local/include

[2022-01-25 16:20] GuillaumeHolley commented on #58
Dear @h836472,

Thank you for noticing, this issue was caused by a line in one of the Cmake file that should have deleted in a previous release. This is normally fixed in the latest commit, do a `git pull` and make sure to delete your `build` directory for a clean install.

Let me know if the issue is fixed for you.

Guillaume

[2022-01-25 18:10] GuillaumeHolley commented on #58
Good to know :) Closing now.

[2022-01-25 18:10] #58 closed

[2022-02-01 10:16] samhorsfield96 commented on #57
Hi Guillaume,

Thanks for your reply. I followed your guidance, as well as reinstalling the global version of Bifrost as version 1.0.6.2. This worked when I installed unitig-caller from source, however the problem persists when using unitig-caller from conda. I noted that the correct bifrost shared object (one installed in the conda environment, not the global install) is being linked when using `

[2022-02-02 00:11] #57 closed

[2022-03-10 12:52] FKCodebase opened #59 "Make install error: Missing File"
Hi,
we were trying to update Bifrost and installed "from source"
as shown in the readme.

However, the "make install" call crashed because the
xxhash.c file is missing.
We worked aroud this by using an older version of the file  (BFG_VERSION 1.0.5).
Is this workaround save?

Kind regards
Fabian Kolesch

[2022-03-10 13:23] GuillaumeHolley commented on #59
Hi Fabian,

Thank you for reporting this issue, this is caused by Cmake requiring XXHash files which I have removed as a dependency in Bifrost 1.0.6+ versions. For some reasons, I must have put those back in Bifrost 1.0.6.3.

Anyway, I have fixed the Cmake files and you can use them right now. I do not think that using the Cmake files from v1.0.5 with the code from 1.0.6.3 is safe (you should have

[2022-04-22 22:11] kreldjarn opened #60 "KmerIterator undefined behaviour if string starts with N"
When iterating over a string that contains N, the KmerIterator should spool over the N and continue iterating from there. This works for the general case, but if the string _starts_ with an N the KmerIterator returns a Kmer consisting of only A's, even though the next Kmer is a valid one containing no N's.

See reproducible example here:
[code]

[2022-04-22 22:44] kreldjarn commented on #60
Should be fixed in 4b2917b

[2022-04-27 10:52] GuillaumeHolley commented on #60
Hi @kreldjarn,

This is a very good catch, thanks! The issue stems from a modification I have made some time ago to the way the `Kmer` object
 is initialized and checked for "emptyness". I'll approve your PR asap.

Guillaume

[2022-04-27 10:52] #60 closed

[2022-04-28 13:44] GuillaumeHolley commented on #49
Hi @LucasBarbosaRocha,

Bifrost does not support editing the sequence in the nodes of the graph because changing these sequences would change the topology of the graph itself. If you really need to change the sequence of a unitig, you must delete the unitig from the graph and reinsert its edited sequence (using `CompactedDBG::add()` and  `CompactedDBG::remove()`). Bear in mind that using these ope

[2022-04-28 13:44] #49 closed

[2022-04-28 13:55] #42 closed

[2022-05-11 14:58] GuillaumeHolley commented on #56
Hi @LucasBarbosaRocha,

Closing the issue for now but feel free to reopen if this is still an issue.

Guillaume

[2022-05-11 14:58] #56 closed

[2022-05-11 14:59] GuillaumeHolley commented on #54
Hi @ptrebert,

I am closing for now but feel free to reopen if this is still an issue.

Guillaume

[2022-05-11 14:59] #54 closed

[2022-06-15 09:23] khodor14 opened #62 "stack smashing detected"
I installed the source code of bifrost to use large kmer size.

I used this command to compile `cmake .. -DENABLE_AVX2=OFF -DCOMPILATION_ARCH=OFF -DMAX_KMER_SIZE=64 && make && make install`

Then i executed the build command `./bifrost/build/build/bin/Bifrost build -r genomes/LM995446.1.fa -k 63 -t 16 -o bifrost_dbg`

I ended up with this message `*** stack smashing detected ***: ./bifrost/build/b

[2022-06-15 09:42] GuillaumeHolley commented on #62
Hi @khodor14,

Thanks for reporting the issue. Your compile and execution commands seem fine to me. Could you share the output log of Bifrost and eventually the input fasta file you used?

Guillaume

[2022-06-15 12:02] khodor14 commented on #62
Thank you @GuillaumeHolley for your reply

I think this is a problem in the machine where I'm trying to compile the code. I tried to compile bifrost on my personal pc, it worked but when copying the binary code it raised other issues `./Bifrost: /lib64/libm.so.6: version `GLIBC_2.29' not found (required by ./Bifrost)
./Bifrost: /lib64/libc.so.6: version `GLIBC_2.33' not found (required by ./Bifros

[2022-06-15 12:35] GuillaumeHolley commented on #62
Also, please make sure you delete and make a new `build` directory after modifying the line in order for Cmake to make a brand new compilation. Otherwise, it might reuse some files and things might get messy.

[2022-06-21 13:05] bioinformagica commented on #35
Hello everyone, is this feature already implemented ? This would be very cool

[2022-06-21 15:35] GuillaumeHolley commented on #35
As of now, this is not implemented in Bifrost but I was thinking more and more about doing it soon for reference sequences. Will push this on top of my todo list.

[2022-06-21 16:35] bioinformagica commented on #35
Hi thanks for the quick reply, I'm really glad to hear it !

For a project I'm doing, I have to do a lot of gene alignments to create MSA gene reference plots using vg construct. My idea is to skip the slow process of doing gene alignments and create gfa files directly from the unaligned gene multifasta with bifrost build. But to do that, the final graph must have path information so I can do cool

[2022-06-21 16:48] GuillaumeHolley commented on #35
Nice, glad to hear you have a cool project in mind. I started an implementation prototype in Bifrost and one question came up. According to the [GFA1 spec](http://gfa-spec.github.io/GFA-spec/GFA1.html), the Path line contains as 4th field an `Optional comma-separated list of CIGAR strings` which can just be a `*` (basically no CIGAR provided). Do you need the CIGAR strings? I could do it but it wo

[2022-07-14 05:59] davidmaimoun opened #63 "Indexing 200K assemblies"
Hi,

I have 200k assemblies, can I indexing all of them with Bifrost ?

I ran on few of them to test it:
Bifrost build -t 4 -k 31 -i -d -s fastas.txt -c -o a_graph

but the build with the paths in .txt format doesn't work, and it will be impossible to add them one by one with the command -s

Could you help me please ?

[2022-07-14 08:26] GuillaumeHolley commented on #63
Hi @davidmaimoun,

Thanks for reaching out. 200k assemblies should be feasible indeed, given that you have enough RAM. What's the size of each assemblies? Are they from the same organism? By the way, if your input are assemblies and not reads, you want to use `-r fastas.txt` and not `-s fastas.txt`.

Now, when you build with the list of assemblies as input, what error do you get? Can you copy the

[2022-07-19 04:54] davidmaimoun commented on #63
Sorry Guillaume I wasn't at work few days.

I launched it on 1000 assemblies this morning and it worked very well thank you!
With the command -r I was able to list all my assemblies, and the program did the rest.

Thank you very much for your help

[2022-07-19 11:21] #41 closed